$box: skyblue;
$ball: red;
$yellow: yellow;
// 색상
$red: #ee4444;
$black: #222;
$bg-color: #c7d7f6;
$link-color: red;
$p-color: #282a36;
// 폰트사이즈
$font-p: 13px;
$font-h1: 28px;
// 폰트
$base-font: "Noto Sans KR", sans-serif;
body {
  background: $bg-color;
  font-size: $font-p;
}
h1 {
  font-size: $font-h1;
}
.section {
  background-color: $box;
  width: 50%;
  .list {
    display: flex;
    list-style: none;
    li {
      padding: 10px;
      background-color: aliceblue;
      &:last-child {
        background-color: blueviolet;
      }
      &:hover {
        background-color: #ee4444;
      }
    }
  }
}
.btn {
  background-color: #a4d4fb;
  &.active {
    background-color: #4984fa;
    &:hover {
      background-color: #2e54a0;
    }
  }
  &:hover {
    background-color: #8ccbff;
  }
}
.fs {
  &-small {
    color: #ee4444;
    font-size: 20px;
  }
  &-medium {
    color: #2e54a0;
    font-size: 15px;
  }
  &-large {
    color: blueviolet;
    font-size: 10px;
  }
}
.product{
    $w:300px;
    $h:20px;
    li{
        width: $w;
        height: $h;
        background-color: #ebc7f6;
        margin: 3px;
    }
    @at-root .box{
        width: $w;
        height: $h;
        background-color: #ebc7f6;
    }
}
.box{
    width: 100px;
    background-color: #ee4444;
    margin: {
        top:10px;
        left:30px;
    };
    padding: {
        bottom:20px;
        right: 40px;
    };
}
